<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div ng-app="MyApp" ng-controller="MyCtrl">
        <input type="text" ng-model="v1">
        <h1>{{v1}}</h1>
        <h3>1+2 = {{ 1+2 }}</h3>
    </div>


    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>